<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hello World</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="WebViewBounce" value="false" />
    <access origin="*" />
    <plugin name="cordova-plugin-battery-status" spec="^1.0.0" />
    <plugin name="cordova-plugin-camera" spec="^1.0.0" />
    <plugin name="cordova-plugin-console" spec="^1.0.0" />
    <plugin name="cordova-plugin-contacts" spec="^1.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-device-motion" spec="^1.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.0.0" />
    <plugin name="cordova-plugin-file" spec="^2.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
    <plugin name="cordova-plugin-media" spec="^1.0.0" />
    <plugin name="cordova-plugin-media-capture" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^1.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-vibration" spec="^1.0.0" />
    <plugin name="phonegap-plugin-contentsync" spec="^1.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" /> 
</widget>
